<!-- Portfolio Grid Section -->
<section class="portfolio">

  <p class="main-text">Le tricot était un hobby tardif qu' une amie m'a apprit un après-midi à Istanbul. Je ne sortais pas de la forme rectangulaire et de deux variations de points. Les seules créations utilles que je sache tricoter sont des écharpes d'un style très amateur: pleines d'asymétrie et d'amour. Mais ils me commencé sur un travail marqué par des distractions et des omissions de façon ponctuelle, mais surtout, par le relief qui provoque des imperfections.</p>
  <p class="main-text">Ensuite, je commençai à tricoter sans aucune retenue. Plus d’écharpes, mais des formes créées à partir d’un désir impatient. Je cherchais la grandeur dans les détails, l'inachevement comme norme, toutes pour atteindre le non-permanent, comme les laines, les fils, les câbles; comme les mains qui tricotent; comme la tête qui nomme; comme les yeux qui regardent les arbres à l’extérieur; comme tout ce qui mourra un de ces jours. Et ainsi naquit ERREUR, qui devint un exercice pour accepter la mortalité. Être comme une Pénélope en milieu de vie: qui tricote au présent; sans attendre le retour de rien ni de personne.</p>
  <p class="main-text">Ma formation et mes années de travail dans le journalisme m'ont donné envie d'essayer des choses différentes: d'être correspondante de guerre, d'écrire un livre, éditer des blogs, de m'essayer au scénario, de travailler dans l'humanitaire, ou de réaliser un documentaire en Irak. Donc rien d' étonnant à ce que je me risque dans un nouveau domaine. L’expérience textile me ramène au présent, me donne une pause du futurisme; je respire et tricote. Je pense que nous devrions tous arrêter et essayer un peu. Tricoter en paix.</p>

  <div class="grid">
    {% assign sortedPosts = site.posts | sort: 'date' %}
    {% for post in sortedPosts %}
    <div class="portfolio-item">
      <a id="{{  post.img | replace:'.jpg','' }}" href="/{{ post.permalink }}.html" class="portfolio-link">
        <img src="img/works/{{ post.img | replace:'.jpg','-thumbnail.jpg' }}" class="img-responsive" alt="{{ post.title }}">
      </a>
    </div>
    <div class="portfolio-caption">
      <a id="{{  post.img | replace:'.jpg','' }}" href="/{{ post.permalink }}.html" class="portfolio-link">
        <h4>{{ post.title }}</h4>
        <p class="text-muted">{{ post.material }}</p>
        <p class="text-muted"><strong>{{ post.size }}</strong></p>
        <p class="text-muted"><strong>{{ post.content | replace:'<!--break-->','...<!--break-->' | split:'<!--break-->' | first }}</strong></p>
        <p class="text-muted">Série: <strong>{{ post.series }}</strong></p>
      </a>
    </div>
    {% endfor %}
  </div>
  <a href="/index.html#"><button>Retour</button></a>
</section>
